li > .text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}

li > .text:last-child {
  margin-bottom: 0;
}

.value {
  color: #111111;
}
